<div class="bg-white border-b-[1px] h-[70px] ">
    <div class="container m-auto flex justify-between h-full items-center">
        <a routerLink='/' class="text-2xl font-bold text-[var(--primary)]">My Blog</a>

        <div class="space-x-10 text-gray-700">
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/contact">Contact</a>
            @if(!authService.session){
            <a routerLink="/auth/login" class="cta">Login</a>

            }@else{
            <button (click)="authService.logout()" class="cta">Logout</button>

            }
        </div>
    </div>
</div>