@if(post){
    <h1>{{post.title}}</h1>
    
    <!-- display category and create date -->
    
    <div class="flex justify-between mb-20">
        <p>Category: <a [routerLink]="['/categories', post.category.slug]"><strong>{{post.category.name}}</strong></a></p>
        <p>Created: <strong>{{moment(post.createdAt).fromNow()}}</strong></p>
    </div>
    
    
    {{post.content}}
    
    
    <!-- Tags -->
    <div class="mt-20">
        <h2 class="text-2xl">Tags</h2>
        <div class="flex mt-5">
            @for(postTag of postTags; track postTag.tagId){
                <a [routerLink]="['/tags', postTag.tag.slug]"
                class="bg-blue-500 text-white px-4 py-2 mr-2 rounded-md hover:bg-blue-600 transition-colors duration-300">
                {{postTag.tag.name}}
            </a>
            }
        </div>
    </div>
    
    
    <!-- Comments Section  -->
    
    <div class="mt-20">
        <h2 class="text-2xl mb-10">
            Comments
        </h2>
    
    @if(authService.session){
        <form action=""[formGroup]="form" (submit)="submitComment()">
        <div class="flex mb-4">
            <img class="w-10 h-10 rounded-full mr-4" src="img.png" />
    
            <textarea name="" id="" formControlName="content"
                class="w-full h-[200px] border-solid border-[1px] border-gray-400 rounded-md p-4 outline-none"
                placeholder="Enter your comment"></textarea>
        </div>
        <button
        class="bg-[var(--primary)] text-white px-4 py-2 mb-10  rounded-md hover:bg-blue-600 transition-colors duration-300 float-right">
        Post Comment</button>
    </form>
    }@else {
            <div class="text-center mb-10">
                <a [routerLink]="['/auth/login']" class="text-[var(--primary)]">Login</a> to post a comment
            </div>
        }
    

    
        @for(comment of comments; track comment.id){
        <div class="flex w-full mb-5">
            <div>
                <img class="w-10 h-10 rounded-full mr-4" src="img.png" />
            </div>
            <div class="border-[1px] border-solid border-gray-300 grow p-4 rounded-xl">
                <div class="font-bold">{{comment.user.name}}</div>
                <div class="text-gray-500 mb-4">{{moment(comment.createdAt).fromNow()}}</div>
                <div>{{comment.content}}</div>
            </div>
        </div>
        }
    
    
    </div>
}