<form (submit)="submit()" class="card w-[400px]" [formGroup]="form">

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" name="password" pleaceholder="Password" />
        @if(
        form.get('password')?.touched &&
        form.get('password')?.errors
        ){
        @if(form.get('password')?.errors?.['required']){
        <div class="text-red-500">Password is required</div>
        }
        @if(form.get('password')?.errors?.['minlength']){
        <div class="text-red-500">
            Password must be at least {{
            form.get('password')?.errors?.['minlength'].requiredLength
            }} characters
        </div>
        }

        @if(form.get('password')?.errors?.['pattern']){
        <div class="text-red-500">
            Password must contain at least one uppercase letter, one lowercase letter and one number.
        </div>
        }
        }
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"
            pleaceholder="confirmPassword" />
        @if(
        form.get('confirmPassword')?.touched &&
        form.get('confirmPassword')?.errors
        ){
        @if(form.get('confirmPassword')?.errors?.['required']){
        <div class="text-red-500">Confirm Password is required</div>
        }
        @if(form.get('confirmPassword')?.errors?.['minlength']){
        <div class="text-red-500">
            Confirm Password must be at least {{
            form.get('confirmPassword')?.errors?.['minlength'].requiredLength
            }} characters
        </div>
        }

        @if(form.get('confirmPassword')?.errors?.['pattern']){
        <div class="text-red-500">
            Confirm Password must contain at least one uppercase letter, one lowercase letter and one number.
        </div>
        }
     
        }
        @if(form.errors?.['mismatch']){
            <div class="text-red-500">
                Passwords do not match
            </div>
            }
    </div>
    <div class="flex justify-end mt-5">
        <button type="submit" [disabled]="!form.valid">Update Password</button>
    </div>
</form>