/* You can add global styles to this file, and also import other style files */
// @tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #0069ff;
}
h1{
    @apply text-4xl font-bold text-center mb-5 leading-snug
}

p{
    @apply text-xl mb-5 leading-loose
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cta{
    @apply bg-[var(--primary)] text-white px-4 py-2 rounded-md hover:bg-[var(--primary)] transition-all duration-200;
}