<div class="w-[250px]">
    <div class="hover:bg-gray-200 text-base ">
        <a class="w-full block h-full py-4 pl-5" routerLink="/admin/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-gray-100">Posts</a>
    </div>
    <mat-divider></mat-divider>
    <div class="hover:bg-gray-200 text-base ">
        <a class="w-full block h-full py-4 pl-5" routerLink="/admin/categories" routerLinkActive="bg-gray-100">Categories</a>
    </div>
    <mat-divider></mat-divider>
    <div class="hover:bg-gray-200 text-base ">
        <a class="w-full block h-full py-4 pl-5" routerLink="/admin/tags" routerLinkActive="bg-gray-100">Tags</a>
    </div>
  </div>
  